* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins, Helvetica, sans-serif;
  margin: 40px;
  background-color: cadetblue;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  height: 80vh;
}

.status {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.square {
  width: 80px;
  height: 80px;
  background-color: white;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 240px;
}

.button {
  margin: 5px 0 5px 0;
  width: 145px;
  height: 33px;
  background-color: white;
  border-radius: 7px;
  font-family: poppins, Helvetica, sans-serif;
  font-weight: 600;
}

.button:hover{
  background-color: chocolate;
  color: white;
}
